 
 ///////////////
// Variables //


// Globals
$baseUrl: '';


// Colors
$white: #fff !default;
$black:	#000 !default;


// Scaffolding
$bodyBackground: $white !default;
$textColor:      $black !default;
$hrBorder:		 $black;


// Links
$linkColor:       #08c !default;
$linkColorHover:  darken($linkColor, 15%) !default;


// Typography
$baseFontSize:   14px !default;
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight: 20px !default;

$headingsFontFamily: inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight: bold !default;    // instead of browser default, bold
$headingsColor:      inherit !default; // empty to use BS default, $textColor


// Buttons
$btnBackground:           $white !default;
$btnBackgroundHighlight:  darken($white, 10%) !default;
$btnBorder:               #bbb !default;


// Grid
$containerWidth:  970px !default;
$gridColumns:     2 !default;
$gridColumnWidth: 465px !default;
$gridGutterWidth: 20px !default;
$gridRowWidth:    ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)) !default;
