// Core variables and mixins
@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "fonts";
@import "mixins";


// CSS Reset
@import "reset";


// Grid system and page structure
@import "scaffolding";
@import "grid";
@import "layouts";


// Base CSS
@import "type";


// Components: common
//@import "sprites";

//compass sprites 
$icons-sprite-dimensions: true;
@import "sprites/icons/*.png";
@include all-icons-sprites;



// Components: Buttons, Alerts, Button Groups, etc
@import "buttons";


// Components: Misc


// Page specific imports
// src/_page-name-of-page.scss
// @import "page-name-of-page";


// Utility classes
@import "utilities"; // Has to be last to override when necessary

